<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

	<link rel="stylesheet" href="css/reset.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mo-inha</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="css/style.css">
    <style>
        
        .img-responsive { vertical-align:middle; width: 350px; height:500px; }
        .carousel-inner { overflow: hidden; }
    </style>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
                <a class="logo" href="/">MOINHA</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                   	<li><a href="/sports">운동</a></li>
					<li><a href="/game">다른 모임</a></li>
					<li><a href="/circle">동아리 홍보</a></li>
					<li><a href="/theater">공연/전시</a></li>
					<li><a href="/facility">시설정보</a></li>
                    <li><a href="/talk_list">모인하톡</a></li>
					
                    <!--<li><a href="/reading">기타 모임</a></li>-->
					
                    		<li>
        						<!--<a class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">-->
        						   <!--<a href="/users/sign_in"><%=@login%></a>-->
        						   <!--<a href="/users/sign_out">로그아웃</a>-->
        						<!--</a>-->
        						<% if @login=="로그아웃" %>
        						<a href="/models/sign_out">로그아웃</a>
        						<% end %>
        						<% if @login=="로그인" %>
        						<a href="/models/sign_in">로그인</a>
        						<% end %>
        					</li>
        					<li>
        						<!--<a href="/users/sign_up">회원가입</a>-->
        						<% if @login=="로그인" %>
         						<a href="/before_signup">회원가입</a>
         						<% end %>
        					</li>
                       
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<!--헤더 슬라이더-->
    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!--<div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');"></div>-->
                   <!--<br>-->
                    <div class="fill">
                         <% @pictures.each do |p| %>
                        <div class="col-md-2 col-sm-3" style="margin:0px; padding:0px;">
                            <!--<div align="center" style="width: 200px; height: 250px; overflow: hidden; float:left;">-->
                            <!--<div align="center" style="width: 100%; height: auto; overflow: hidden; float:left;">-->
                                <!--<img src="http://www.inha.ac.kr/user/plaza/k2board/235757/plaza1470925852545_b_img.jpg" style="width: 100%; height: 100%;"alt="leaf graphic"  title="leaf graphic">-->
                            <% if p.id <= @pictures.length and p.id > @pictures.length - 6 %>
                            <% unless p.image_url.nil? %>
                                      <img class="img-responsive" src="<%= p.image_url %>" alt="" style="cursor: pointer;" onclick="doImgPop('<%= p.image_url %>')"></img>
                                      <!--<%= p.id %>-->
                            <% end %>
                            <% end %>
                            <!--</div>-->
                        </div>
                        <%end%>
                    </div>
                <div class="carousel-caption">
                    <h4>Caption 1</h4>
                </div>
            </div>
            
            
            <div class="item">
                    <div class="fill">
                        <% @posttheater.each do |p| %>
                        <div class="col-md-2 col-sm-3" style="margin:0px; padding:0px;">
                            <% if p.id <= @pictures.length - 6 and p.id > @pictures.length - 12 %>
                            <% unless p.image_url.nil? %>
                                      <img class="img-responsive" src="<%= p.image_url %>" alt="" style="cursor: pointer;" onclick="doImgPop('<%= p.image_url %>')"></img>
                                      <!--<%= p.id %>-->
                            <% end %>
                            <% end %>
                            <!--</div>-->
                        </div>
                        <%end%>
                    </div>  
                    
                <div class="carousel-caption">
                    <h4>Caption 2</h4>
                </div>
            </div>
            
        <!--    <div class="item">-->
        <!--             <div class="fill">-->
        <!--                <% @posttheater.each do |p| %>-->
        <!--                <div class="col-md-2 col-sm-3" style="margin:0px; padding:0px;">-->
        <!--                    <% if p.id <= @pictures.length - 12 and p.id > @pictures.length - 18 %>-->
        <!--                    <% unless p.image_url.nil? %>-->
        <!--                              <img class="img-responsive" src="<%= p.image_url %>" alt="" style="cursor: pointer;" onclick="doImgPop('<%= p.image_url %>')"></img>-->
                                      <!--<%= p.id %>-->
        <!--                    <% end %>-->
        <!--                    <% end %>-->
                            <!--</div>-->
        <!--                </div>-->
        <!--                <%end%>-->
        <!--            </div> -->
                        
        <!--        <div class="carousel-caption">-->
        <!--            <h4>Caption 3</h4>-->
        <!--        </div>-->
        <!--    </div>-->
        <!--</div>-->

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

<div class="main_section_container">
<!--첫번째 슬라이드-->
    <!-- Page Content -->
    <div class="container">
        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                    <img class="title_icon" src="http://image.flaticon.com/icons/svg/148/148819.svg"></img>오늘의 모임 <span class="small_title"> Today's Recruitment</span>
                    <% @model.each do |p| %>
                    <%= p.email %>
                    <% end %>
                </h3>
            </div>
            
            
        <div class="row">
            <div class="col-md-3 col-sm-5 portfolio-item">
                    <a href="/sports_apply/<%=@one_sports.id%>">
                    
                               <% unless @one_sports.image_url.nil? %>
                                      <img class="img-responsive" src="<%= @one_sports.image_url %>" alt="" style="width: auto; height:auto;" style="cursor: pointer;" onclick="doImgPop('<%= @one_sports.image_url %>')" " />
                               <% end %>
                                <% if @one_sports.image_url.nil? %>
                                      <img class="img-responsive" src="images/<%= @one_sports.what_sports %>" alt="" style="width: auto; height:auto;" style="cursor: pointer;" onclick="doImgPop('images/<%= @one_sports.what_sports %>')" " />
                                <% end %>
                            
                              <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                </div>
                              </div>
                    </a>
                        <h4>
                        <a href="/sports_apply/<%=@one_sports.id%>"><%= @one_sports.title %></a>
                        </h4>
                        <p>날짜:<%= @one_sports.date %><br>
                        장소:<%= @one_sports.site %><br>
                        글쓴이 : <%= @one_sports.name %>  </p>
            </div>
       
        
        <div class="col-md-3  col-sm-5 portfolio-item">
                    <a href="/game_apply/<%=@one_game.id%>">
                    
                               <% unless @one_game.image_url.nil? %>
                                      <img class="img-responsive" src="<%= @one_game.image_url %>" alt="" style="width: auto; height:auto;" style="cursor: pointer;" onclick="doImgPop('<%= @one_game.image_url %>')" " />
                               <% end %>
                              <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                  2명/5명
                                </div>
                              </div>
                    </a>
                        <h4>
                        <a href="/game_apply/<%=@one_game.id%>"><%= @one_game.title %></a>
                        </h4>
                        <p>날짜:<%= @one_game.date %><br>
                        장소:<%= @one_game.site %><br>
                        글쓴이 : <%= @one_game.name %>  </p>
            </div>
        
        <div class="col-md-3 col-sm-5 portfolio-item">
                    <a href="/circle_apply/<%=@one_circle.id%>">
                               <% unless @one_circle.image_url.nil? %>
                                      <img class="img-responsive" src="<%= @one_circle.image_url %>" alt="" style="width: auto; height:auto;" style="cursor: pointer;" onclick="doImgPop('<%= @one_circle.image_url %>')" " />
                               <% end %>
                              <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                  2명/5명
                                </div>
                              </div>
                    </a>
                        <h4>
                        <a href="/game_apply/<%=@one_circle.id%>"><%= @one_circle.title %></a>
                        </h4>
                        <p>날짜:<%= @one_circle.date %><br>
                        장소:<%= @one_circle.site %><br>
                        글쓴이 : <%= @one_circle.name %></p>
            </div>
        
        
        <div class="col-md-3 col-sm-5 portfolio-item">
                    <a href="/game_apply/<%=@one_game.id%>">
                    
                               <% unless @one_game.image_url.nil? %>
                                      <img class="img-responsive" src="<%= @one_game.image_url %>" alt="" style="width: auto; height:auto;" style="cursor: pointer;" onclick="doImgPop('<%= @one_game.image_url %>')" " />
                               <% end %>
                              <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                  2명/5명
                                </div>
                              </div>
                    </a>
                        <h4>
                        <a href="/game_apply/<%=@one_game.id%>"><%= @one_game.title %></a>
                        </h4>
                        <p>날짜:<%= @one_game.date %><br>
                        장소:<%= @one_game.site %><br>
                        글쓴이 : <%= @one_game.name %>  </p>
            </div>
        </div>
        
    </div>            
    <!-- row -->        
</div>    
    <div class="container">
        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                    <img class="title_icon" src="http://image.flaticon.com/icons/svg/140/140389.svg"></img>운동<span class="small_title">Exercise</span>
                </h3>
            </div>
            
            
            <div class="row">
            <% @postsports.each do |p| %>
                    <a href="/sports_apply/<%=p.id%>">
                                  <% unless p.id.nil? %>
                                    <% if @count < 4 %>
                                     <% @count=@count+1 %>
            <div class="col-md-3 portfolio-item">             
                               <% unless p.image_url.nil? %>
                                      <img class="img-responsive" src="<%= p.image_url %>" alt="" style="width: auto; height:auto;" style="cursor: pointer;" onclick="doImgPop('<%= p.image_url %>')" " />
                               <% end %>
                                <% if p.image_url.nil? %>
                                      <img class="img-responsive" src="images/<%= p.what_sports %>" alt="" style="width: auto; height:auto;" style="cursor: pointer;" onclick="doImgPop('images/<%= p.what_sports %>')" " />
                                <% end %>
                              <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                  2명/5명
                                </div>
                              </div>
                    </a>
                        <h4>
                        <a href="/sports_apply/<%=p.id%>"><%= p.title %></a>
                        </h4>
                        <p>날짜:<%= p.date %><br>
                        장소:<%= p.site %><br>
                        글쓴이 : <%= p.name %>  </p>
                    
            </div>
             <% end %>
             <% end %>
              <% end %>
        </div>
        <!-- /.row -->
    </div>            
    <!-- row -->       
</div>    
    
<div class="container">
        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                    <img class="title_icon" src="http://image.flaticon.com/icons/svg/188/188704.svg"></img>다른 모임<span class="small_title">Other meeting</span>
                </h3>
            </div>
            
            
            <div class="row">
            <% @postgame.each do |p| %>
                    <a href="/game_apply/<%=p.id%>">
                                  <% unless p.id.nil? %>
                                    <% if @count2 < 4 %>
                                     <% @count2=@count2+1 %>
            <div class="col-md-3 portfolio-item">             
                               <% unless p.image_url.nil? %>
                                      <img class="img-responsive" src="<%= p.image_url %>" alt="" style="width: auto; height:auto;" style="cursor: pointer;" onclick="doImgPop('<%= p.image_url %>')" " />
                               <% end %>
                                <% if p.image_url.nil? %>
                                      <img class="img-responsive" src="images/<%= p.what_sports %>" alt="" style="width: auto; height:auto;" style="cursor: pointer;" onclick="doImgPop('images/<%= p.what_sports %>')" " />
                                <% end %>
                              <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                  2명/5명
                                </div>
                              </div>
                    </a>
                        <h4>
                        <a href="/game_apply/<%=p.id%>"><%= p.title %></a>
                        </h4>
                        <p>날짜:<%= p.date %><br>
                        장소:<%= p.site %><br>
                        글쓴이 : <%= p.name %>  </p>
                    
            </div>
             <% end %>
             <% end %>
              <% end %>
        </div>
        <!-- /.row -->
    </div>            
    <!-- row -->       
</div>  

<div class="container">
        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                    <img class="title_icon" src="http://image.flaticon.com/icons/svg/138/138304.svg"></img>동아리 홍보<span class="small_title">Circle Promotion</span>
                </h3>
            </div>
            
            
            <div class="row">
            <% @postcircle.each do |p| %>
                    <a href="/circle_apply/<%=p.id%>">
                                  <% unless p.id.nil? %>
                                    <% if @count3 < 4 %>
                                     <% @count3=@count3+1 %>
            <div class="col-md-3 portfolio-item">             
                               <% unless p.image_url.nil? %>
                                      <img class="img-responsive" src="<%= p.image_url %>" alt="" style="width: auto; height:auto;" style="cursor: pointer;" onclick="doImgPop('<%= p.image_url %>')" " />
                               <% end %>
                                <% if p.image_url.nil? %>
                                      <img class="img-responsive" src="images/<%= p.what_sports %>" alt="" style="width: auto; height:auto;" style="cursor: pointer;" onclick="doImgPop('images/<%= p.what_sports %>')" " />
                                <% end %>
                              <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                  2명/5명
                                </div>
                              </div>
                    </a>
                        <h4>
                        <a href="/circle_apply/<%=p.id%>"><%= p.title %></a>
                        </h4>
                        <p>날짜:<%= p.date %><br>
                        장소:<%= p.site %><br>
                        글쓴이 : <%= p.name %>  </p>
                    
            </div>
             <% end %>
             <% end %>
              <% end %>
        </div>
        <!-- /.row -->
    </div>            
    <!-- row -->       
</div>  
        
</div>    
    
    
  
    
    
<!--    <div class="container">-->
        <!-- Marketing Icons Section -->
<!--        <div class="row">-->
<!--            <div class="col-lg-12">-->
<!--                <h3 class="page-header">-->
<!--                    공연/전시-->
<!--                </h3>-->
<!--            </div>-->
            
            
<!--            <div class="row">-->
<!--            <div class="col-md-3 portfolio-item">-->
<!--                <a href="#">-->
<!--                    <img class="img-responsive" src="http://img.postshare.co.kr/images/2016/01/17014244/001-oychungso.jpg" alt="">-->
<!--                </a>-->
<!--                <h3>-->
<!--                    <a href="#">대운동장 축구</a>-->
<!--                </h3>-->
<!--                <p>2016.09.15 대운동장 축구 11명<br>-->
<!--                상태: 모집중(현재 2/5명 완료) </p>-->
<!--            </div>-->
<!--            <div class="col-md-3 portfolio-item">-->
<!--                <a href="#">-->
<!--                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">-->
<!--                </a>-->
<!--                <h3>-->
<!--                    <a href="#">Project Name</a>-->
<!--                </h3>-->
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>-->
<!--            </div>-->
<!--            <div class="col-md-3 portfolio-item">-->
<!--                <a href="#">-->
<!--                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">-->
<!--                </a>-->
<!--                <h3>-->
<!--                    <a href="#">Project Name</a>-->
<!--                </h3>-->
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>-->
<!--            </div>-->
<!--            <div class="col-md-3 portfolio-item">-->
<!--                <a href="#">-->
<!--                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">-->
<!--                </a>-->
<!--                <h3>-->
<!--                    <a href="#">Project Name</a>-->
<!--                </h3>-->
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>-->
<!--            </div>-->
<!--        </div>-->
        <!-- /.row -->
<!--    </div>            -->
    <!-- row -->       
<!--</div>    -->
          



            
    <!--<div class="container">-->

        <!-- Marketing Icons Section -->
    <!--    <div class="row">-->
    <!--        <div class="col-lg-12">-->
    <!--            <h1 class="page-header">-->
    <!--                Welcome to Modern Business-->
    <!--            </h1>-->
    <!--        </div>-->
    <!--        <div class="col-md-4">-->
    <!--            <div class="panel panel-default">-->
    <!--                <div class="panel-heading">-->
    <!--                    <h4><i class="fa fa-fw fa-check"></i> Bootstrap v3.3.7</h4>-->
    <!--                </div>-->
    <!--                <div class="panel-body">-->
    <!--                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>-->
    <!--                    <a href="#" class="btn btn-default">Learn More</a>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="col-md-4">-->
    <!--            <div class="panel panel-default">-->
    <!--                <div class="panel-heading">-->
    <!--                    <h4><i class="fa fa-fw fa-gift"></i> Free &amp; Open Source</h4>-->
    <!--                </div>-->
    <!--                <div class="panel-body">-->
    <!--                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>-->
    <!--                    <a href="#" class="btn btn-default">Learn More</a>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="col-md-4">-->
    <!--            <div class="panel panel-default">-->
    <!--                <div class="panel-heading">-->
    <!--                    <h4><i class="fa fa-fw fa-compass"></i> Easy to Use</h4>-->
    <!--                </div>-->
    <!--                <div class="panel-body">-->
    <!--                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>-->
    <!--                    <a href="#" class="btn btn-default">Learn More</a>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
        <!-- /.row -->

        <!-- Portfolio Section -->
    <!--    <div class="row">-->
    <!--        <div class="col-lg-12">-->
    <!--            <h2 class="page-header">Portfolio Heading</h2>-->
    <!--        </div>-->
    <!--        <div class="col-md-4 col-sm-6">-->
    <!--            <a href="portfolio-item.html">-->
    <!--                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">-->
    <!--            </a>-->
    <!--        </div>-->
    <!--        <div class="col-md-4 col-sm-6">-->
    <!--            <a href="portfolio-item.html">-->
    <!--                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">-->
    <!--            </a>-->
    <!--        </div>-->
    <!--        <div class="col-md-4 col-sm-6">-->
    <!--            <a href="portfolio-item.html">-->
    <!--                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">-->
    <!--            </a>-->
    <!--        </div>-->
    <!--        <div class="col-md-4 col-sm-6">-->
    <!--            <a href="portfolio-item.html">-->
    <!--                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">-->
    <!--            </a>-->
    <!--        </div>-->
    <!--        <div class="col-md-4 col-sm-6">-->
    <!--            <a href="portfolio-item.html">-->
    <!--                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">-->
    <!--            </a>-->
    <!--        </div>-->
    <!--        <div class="col-md-4 col-sm-6">-->
    <!--            <a href="portfolio-item.html">-->
    <!--                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">-->
    <!--            </a>-->
    <!--        </div>-->
    <!--    </div>-->
        <!-- /.row -->

        <!-- Features Section -->
    <!--    <div class="row">-->
    <!--        <div class="col-lg-12">-->
    <!--            <h2 class="page-header">Modern Business Features</h2>-->
    <!--        </div>-->
    <!--        <div class="col-md-6">-->
    <!--            <p>The Modern Business template by Start Bootstrap includes:</p>-->
    <!--            <ul>-->
    <!--                <li><strong>Bootstrap v3.3.7</strong>-->
    <!--                </li>-->
    <!--                <li>jQuery v1.11.1</li>-->
    <!--                <li>Font Awesome v4.2.0</li>-->
    <!--                <li>Working PHP contact form with validation</li>-->
    <!--                <li>Unstyled page elements for easy customization</li>-->
    <!--                <li>17 HTML pages</li>-->
    <!--            </ul>-->
    <!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>-->
    <!--        </div>-->
    <!--        <div class="col-md-6">-->
    <!--            <img class="img-responsive" src="http://placehold.it/700x450" alt="">-->
    <!--        </div>-->
    <!--    </div>-->
        <!-- /.row -->

    <!--    <hr>-->

        <!-- Call to Action Section -->
    <!--    <div class="well">-->
    <!--        <div class="row">-->
    <!--            <div class="col-md-8">-->
    <!--                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>-->
    <!--            </div>-->
    <!--            <div class="col-md-4">-->
    <!--                <a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->

    <!--    <hr>-->
    <!--</div>-->
    <!-- /.container -->
        
</div>  
<!-- /.container -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
<!--     $('.carousel').carousel({-->
<!--          interval: 3000 //changes the speed-->
<!--     })-->
  
           
<!--</div>-->
    </script>
        <footer>
                <p>Copyright &copy; FRUITS PUNCH_Inha University</p>
         </footer>
    </body>

</html>
