
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="stylesheet" href="css/reset.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	
	<title>Mo-inha</title>

    <!-- Bootstrap Core CSS -->
    <link href="css1/bootstrap1.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css1/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="css/style.css">
      <style>
          /*------------------------------------------------------------------sports 2*/
body { background-color: #f9f9f9;}
        /*log in*/
.login_box{padding : 10px;}

/*footer*/
footer { background: #5e615d; width: 100%; height: 120px; margin: 0 auto; color: #c9c9c9; padding: 2%;}
footer>p { display: block; width: 500px; margin-left: 19.5%; margin-top: ; }body { background-color: #f9f9f9; }

/*nav*/
.logo { padding: 0px; color: white; background-color: none; font-size:1.7em; top:0.4em;}
.logo:hover { text-decoration: none;}
.logo:active { text-decoration: none;}
.navbar-inverse { background: #69ca1b; border-bottom: 4px solid #61c114; color: white; }
.navbar-inverse .navbar-nav>li>a { color: white; font-size: 1.05em; font-weight: 500; margin-top: 0.2em;}
.navbar-inverse .navbar-brand { font-size: 1.8em; letter-spacing: 0.09em; font-weight: 200; color: white; }
.navbar-inverse .navbar-nav>li>a:hover { color: green; }
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a { text-shadow: none; }
.navbar-inverse .navbar-nav>li>a { letter-spacing: 0.05em; }
.navbar-nav>li:nth-child(7) { margin-right: 0.5em; margin-left: 3em;}
.navbar-nav>li:nth-child(7) a, .navbar-nav>li:nth-child(8) a { border: 2px solid white; border-radius: 1em; width: 6em; height: 2.5em; text-align: center; padding: 0.5em; margin-top: 0.55em; }

#bs-example-navbar-collapse-1 { width: 80%; float:right;}

/*slider*/
.carousel-inner { background-color: #c2c2c2;}

/*section*/

.page-header { color: #61c114; font-weight: 900 font-size:1.2em; margin-left: 2%; margin-right: 2%; display: inline-block; border: none;}

.portfolio-item h4 a { color: black; font-size: 1em; margin-top: 0px; font-weight: 500;}
.portfolio-item p { color: black; font-size: 1em; line-height: 1.6em; }
.portfolio-item .progress { margin-top: 0px; border-radius: 1px; width:100%; height: 10px; font-size: 10px; margin-left: 0%; margin-right: 0%;}
.progress-bar { background-color: #69ca1b; margin-left:0px; margin-right:0px;}

.col-lg-12 { padding: 0px; }

.portfolio-item { background-color: white; border: 1.5px solid #e0e0e0; border-radius: 5px; padding: 1%; width: 23%; height: 320px; overflow: hidden; }
.row div { margin-right: 1%; margin-left:1%; }

.img-responsive { border-radius: 2px; }

/*log in*/
.login_box{padding : 10px;}

/*footer*/
footer { background: #5e615d; width: 100%; height: 120px; margin: 0 auto; color: #c9c9c9; padding: 2%;}
footer>p { display: block; width: 500px; margin-left: 19.5%; margin-top: ; }

.portfolio-item { margin-bottom: 13px; margin-top:13px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.portfolio-item h4 { max-width: 230px; max-height: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.portfolio-item h4 a{ max-width: 230px; max-height: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.img-responsive { width: 100%; height: 50%; overflow: hidden;} 

.small_title { color:grey; font-size: 0.7em; font-weight:100; letter-spacing: 5pt; margin-left: 1%;}



hr { margin-right: 1%; margin-left:1%; }

.header_btn_wrapper { width:100%; margin: 0 auto; }
.header_btn_wrapper:after { content:''; clear:both; display:block; }

.mooder { width: 100%; height: 30%; position: absolute; top: 0px; overflow: hidden; }

/*===========================sports end*/



body { background-color: #f9f9f9; }
/*nav*/
nav { position: fixed; top: 0px;}
.navbar-brand { width: 5em; padding: 0px; line-height: 1.9; color: white; background-color: none; font-weight: 500; font-size: 1.7em; }
.navbar-header { width: 9em; padding: 0px; }

.navbar-header { margin-top: 0.1em; color: white; display: inline; }
.navbar-inverse .navbar-nav>li>a { color: white; font-size: 1.05em; font-weight: 500; margin-top: 0.2em;}
.navbar-inverse .navbar-brand { font-size: 1.8em; letter-spacing: 0.09em; font-weight: 200; color: white; }
.navbar-inverse .navbar-nav>li>a:hover { color: #78e21b; }
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a { text-shadow: none; }
.navbar-inverse .navbar-nav>li>a { letter-spacing: 0.05em; }
.navbar-nav>li:nth-child(7) { margin-right: 0.5em; margin-left: 3em;}
.navbar-nav>li:nth-child(7) a, .navbar-nav>li:nth-child(8) a { border: 2px solid white; border-radius: 1em; width: 6em; height: 2.5em; text-align: center; padding: 0.5em; margin-top: 0.55em; }
.navbar-nav>li:nth-child(7) a:hover { background-color: color: #78e21b; border-color: #78e21b; }
.navbar-nav>li:nth-child(8) a:hover { background-color: color: #78e21b; border-color: #78e21b; }

/*slider*/
header.carousel { position: absolute; top: 0px;}
.carousel-inner { background-color: #c2c2c2;}
.carousel-caption { display: none; }

/*section*/
.main_section_container { width: 100%; margin: 0 auto; margin-top:25%; }
.main_section_container:after { content: ''; margin: 0 auto; display: block; }
.section_container { width: 100%; margin: 0 auto; margin-top:15%; }
.section_container:after { content: ''; margin: 0 auto; display: block; }
.write_section_container { width: 70%; margin: 5% auto; display: block; }
.write_section_container:after { content: ''; margin: 0 auto; display: block; }


h1.page-header, h2.page-header, h3.page-header, h4.page-header { background-color: white; color: #78e21b; font-weight: 500; margin-right: 0%; 
margin-left:0%; margin-bottom: 0%; margin-top:10px; font-size: 1.7em; width: 30%; height: 40px; border: 1px solid #e0e0e0; 
border-radius: 10px; padding: 5px; overflow: hidden; 
}

.write-page-header { color: #78e21b; font-weight: 500; margin-right: 0%; 
margin-left:0%; margin-bottom: 0%; margin-top:10px; font-size: 1.7em; width: 30%; height: 40px;
padding: 5px; overflow: hidden; display: inline-block;}

hr { margin-top: 0%; margin-bottom: 1%;}
.portfolio-item h4 a { color: black; font-size: 1em; margin-top: 0px; font-weight: 500;}
.portfolio-item h3 a { color: black; font-size: 0.775em; margin-top: 0px; font-weight: 500;}
.portfolio-item p { color: black; font-size: 1em; line-height: 1.6em; }
.portfolio-item .progress { margin-top: 0px; border-radius: 1px; width:100%; height: 10px; font-size: 10px; }
.progress-bar { background-color: #78e21b; }

.col-lg-12 { padding: 0px; }

.row { margin-top: 1%;}
.portfolio-item { background-color: white; border: 1.5px solid #e0e0e0; border-radius: 5px; padding: 1%; width: 23%; height: 320px; overflow: hidden; }

.img-responsive { border-radius: 2px; }

/*log in*/
.login_box{padding : 10px;}

/*footer*/
footer { background: #5e615d; width: 100%; height: 120px; margin: 0 auto; color: #c9c9c9; padding: 2%;}
footer>p { display: block; width: 500px; margin-left: 19.5%; margin-top: ; }body { background-color: #f9f9f9; }
.container { padding: 0px; }

/*nav*/
 .logo { padding: 0px; color: #78e21b; background-color: none; font-size:1.7em; top:0.4em;}
 .logo:hover { text-decoration: none; color: #78e21b; }
 .logo:active { text-decoration: none; color: lawngreen;}
 .logo:visited { text-decoration: none; color: #78e21b; }
.navbar-inverse .navbar-nav>li>a { color: white; font-size: 1.05em; font-weight: 500; margin-top: 0.2em;}
.navbar-inverse .navbar-brand { font-size: 1.8em; letter-spacing: 0.09em; font-weight: 200; color: white; }
.navbar-inverse .navbar-nav>li>a:hover { color: green; }
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a { text-shadow: none; }
.navbar-inverse .navbar-nav>li>a { letter-spacing: 0.05em; }
.navbar-nav>li:nth-child(7) { margin-right: 0.5em; margin-left: 3em;}
.navbar-nav>li:nth-child(7) a, .navbar-nav>li:nth-child(8) a { border: 2px solid white; border-radius: 1em; width: 6em; height: 2.5em; text-align: center; padding: 0.5em; margin-top: 0.55em; }

#bs-example-navbar-collapse-1 { width: 80%; float:right;}

/*slider*/
.carousel-inner { background-color: #c2c2c2;}

/*section*/
h1, h2, h3 { }

.page-header { color: #61c114; font-weight: 900; }

.portfolio-item h4 a { color: black; font-size: 1em; margin-top: 0px; font-weight: 500;}
.portfolio-item p { color: black; font-size: 1em; line-height: 1.6em; }
.portfolio-item .progress { margin-top: 0px; border-radius: 1px; width:100%; height: 10px; font-size: 10px; margin-left: 0%; margin-right: 0%;}
.progress-bar { background-color: #69ca1b; margin-left:0px; margin-right:0px;}

.col-lg-12 { padding: 0px; }

.portfolio-item { background-color: white; border: 1.5px solid #e0e0e0; border-radius: 5px; padding: 1%; width: 23%; height: 320px; overflow: hidden; }

.img-responsive { border-radius: 2px; }

/*log in*/
.login_box{padding : 10px;}

/*footer*/
footer { background: #5e615d; width: 100%; height: 120px; margin: 0 auto; color: #c9c9c9; padding: 2%;}
footer>p { display: block; width: 500px; margin-left: 19.5%; margin-top: ; }


/*-------------------sports--------------------*/
body { background-color: #f9f9f9;}
        /*log in*/
.login_box{padding : 10px;}

/*footer*/
footer { background: #5e615d; width: 100%; height: 120px; margin: 0 auto; color: #c9c9c9; padding: 2%; margin-top:6%; }
footer p { display: block; width: 500px; margin-left: 19.5%; margin-top: ; }
.container { padding: 0px; }

/*nav*/
.navbar-inverse { background: rgba(0,0,0,0.5); color: white; border: none;}
.navbar-inverse .navbar-nav>li>a { color: white; font-size: 1.05em; font-weight: 500; margin-top: 0.2em;}
.navbar-inverse .navbar-brand { font-size: 1.8em; letter-spacing: 0.09em; font-weight: 200; color: white; }
.navbar-inverse .navbar-nav>li>a:hover { color: #78e21b; }
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a { text-shadow: none; }
.navbar-inverse .navbar-nav>li>a { letter-spacing: 0.05em; }
.navbar-nav>li:nth-child(7) { margin-right: 0.5em; margin-left: 3em;}
.navbar-nav>li:nth-child(7) a, .navbar-nav>li:nth-child(8) a { border: 2px solid white; border-radius: 1em; width: 6em; height: 2.5em; text-align: center; padding: 0.5em; margin-top: 0.55em; }

#bs-example-navbar-collapse-1 { width: 80%; float:right;}

/*slider*/
.carousel-inner { background-color: #c2c2c2;}

/*section*/

.portfolio-item h4 a { color: black; font-size: 1em; margin-top: 0px; font-weight: 500;}
.portfolio-item p { color: black; font-size: 1em; line-height: 1.6em; }
.portfolio-item .progress { margin-top: 0px; border-radius: 1px; width:100%; height: 10px; font-size: 10px; margin-left: 0%; margin-right: 0%;}
.progress-bar { background-color: #69ca1b; margin-left:0px; margin-right:0px;}

.col-lg-12 { padding: 0px; }

.portfolio-item { background-color: white; border: 1.5px solid #e0e0e0; border-radius: 5px; padding: 1%; width: 23%; height: 320px; overflow: hidden; }

.img-responsive { border-radius: 2px; }

/*log in*/
.login_box{padding : 10px;}

/*footer*/
footer { background: #5e615d; width: 100%; height: 120px; margin: 0 auto; color: #c9c9c9; padding: 2%; margin-top: 5%; }
footer>p { display: block; width: 500px; margin-left: 19.5%; margin-top: ; }

.portfolio-item { margin-bottom: 13px; margin-top:13px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.portfolio-item h4 { max-width: 230px; max-height: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.portfolio-item h4 a{ max-width: 230px; max-height: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.img-responsive { width: 100%; height: 50%; overflow: hidden;} 

.small_title { color:grey; font-size: 0.7em; font-weight:100; letter-spacing: 1pt; margin-left: 10px;}
.write_btn { 
    width: 75px; height: 35px; background-color: #69ca1b; box-shadow:none; border-radius: 5px; border: none; float:right;
    margin-top: 1.1%; margin-right:2%; padding:5px; line-height:2.5; text-align:center; padding: 0px;
}
.write_btn a { width: 75px; height: 35px; color:white; }
.write_btn a:hover { color: green; text-decoration: none; }

hr { margin-right: 1%; margin-left:1%; }

.header_btn_wrapper { width:100%; margin: 0 auto; }
.header_btn_wrapper:after { content:''; clear:both; display:block; }


/*--------------------------pagination------------------------------*/
.pagination li a { color: black;}
.pagination li a:hover { color: grey;}
.pagination .active a { background-color: #69ca1b; border: 1px solid #69ca1b; }
.pagination .active a:hover { background-color: #69ca1b; border: 1px solid #69ca1b; }
.pagination li a:active { background-color: green; border: 1px solid green; }

.title_icon { height: 90%; margin-right: 10px; margin-bottom: 0.1%; vertical-align: middle;}
      </style>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
                <a class="logo" href="/">MOINHA</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                   	<li><a href="/sports">운동</a></li>
					<li><a href="/game">다른 모임</a></li>
					<li><a href="/circle">동아리 홍보</a></li>
					<li><a href="/theater">공연/전시</a></li>
					<li><a href="/facility">시설정보</a></li>
                    <li><a href="/reading">모인하 톡</a></li>
                   
                <li>
         
        		    <% if @login=="로그아웃" %>
        			<a href="/models/sign_out">로그아웃</a>
        			<% end %>
        			<% if @login=="로그인" %>
        			<a href="/models/sign_in">로그인</a>
        			<% end %>
        			</li>
        			<li>
        			<% if @login=="로그인" %>
         			<a href="/before_signup">회원가입</a>
         			<% end %>
        			</li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<!--헤더 슬라이더-->
    <!-- Header Carousel -->
  


<!--첫번째 슬라이드-->
    <!-- Page Content -->
    <div class="section_container">
     <div class="row" style="margin:0 auto; width:70%;">
            <div class="col-lg-12">
                <h1 class="page-header"><img class="title_icon" src="http://image.flaticon.com/icons/svg/141/141553.svg"></img>참가신청 <span class="small_title">Apply</span></h1>
                <button class="write_btn" type="button"><a href="/theater">목록</a></button>
            </div>
    </div>
    <div class="container" style="border-radius: 10px; 1px solid #69ca1b; background:white;">
        <!-- Page Header -->

         <% @spopeo.each do |p| %>
            <% if p.apply_num == @pictures.id.to_s %>
            <% @apply_count=@apply_count + 1 %>
            <% end %>
         <% end %>
        <!--신청자수 : <%= @apply_count %> -->
        <!-- Projects Row -->

          <div class="row">
              <div class="row">
                <div class="col-md-3 col-sm-5">
               
                     <% unless @pictures.image_url.nil? %>
                         <img class="img-responsive" src="<%= @pictures.image_url %>" alt="" style="width: auto; height:auto;" style="cursor: pointer;" onclick="doImgPop('<%= @pictures.image_url %>')" " />
                     <% end %>
                    <% if @pictures.image_url.nil? %>
                      <img class="img-responsive" src="/images/<%= @pictures.what_sports %>" alt="" style="width: auto; height:auto;" style="cursor: pointer;" onclick="doImgPop('/images/<%= @pictures.what_sports %>')" " />
                    <% end %>              
                    <div class="progress" style="margin:5px; padding:0px;">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:<%= (@apply_count.to_f/@pictures.people_num.to_f)*100 %>%;">
                      <%= @apply_count %>명/<%= @pictures.people_num %>명
                        </div>
                    </div>
                  <% @spopeo.each do |p| %>
                            <% if p.apply_current == current_model.email %>
                                    <% if p.apply_num == @pictures.id.to_s %>
                                       <% p.apply_current %>
                                       <% p.apply_num %>
                                            <a href="/destroy_theater_apply/<%=p.id%>">
                                                <button type="submit" class="btn btn-default" style="margin-top:20px;">신청취소</button></a>
                                                <% @appok=1 %>
                                    <% end %>
                            <% end %>
                        <% end %>
                    <% if @appok == 0 %>
                        <form action="/theater_people" method="post">
                             <input type="hidden"  name="apply_current" value="<%= current_model.email %>">
                             <input type="hidden"  name="apply_num" value="<%=@pictures.id%>">
                            <button type="submit" class="btn btn-default" style="margin-top:20px;">참가신청</button>
                        </form>
                     <% end %>
             
                </div>
                <div class="col-md-4 col-sm-5">
                  <h2><%=@pictures.title%></h2>
                  <p><span class="glyphicon glyphicon-time"></span> 모임날짜 : <%=@pictures.date%></p>
                  <p><span class="glyphicon glyphicon-map-marker"></span> 모임장소 : <%=@pictures.site%>   <button type="button" class="btn btn-info">지도보기</button></p>  
                  <p><span class="glyphicon glyphicon-user"></span> 글쓴이 : <%=@pictures.name%></p> 
                  <p><span class="glyphicon glyphicon-tags"> 모집인원 : <%= @pictures.people_num %></p>
                  <p>내용 : <%=@pictures.content%></p>
                </div>
              </div>
              <!--<%=@pictures.current%>-->
                <% if @pictures.current==current_model.email %>
                    <a href="/destroy_theater/<%=@pictures.id%>"><button type="button" class="btn btn-danger">글 삭제하기</button></a>
                    <a href="/update_theater/<%=@pictures.id%>"><button type="button" class="btn btn-warning">글 수정하기</button></a>
                <% end %>
                 <% if current_model.email=="ljung5@naver.com" %>
                    <a href="/destroy_theater/<%=@pictures.id%>"><button type="button" class="btn btn-danger">글 삭제하기</button></a>
                    <a href="/update_theater/<%=@pictures.id%>"><button type="button" class="btn btn-warning">글 수정하기</button></a>
                <% end %>
    
                <div class="row">
                 <div class="col-md-4 col-sm-5" style="background-color:#abe4e4;margin:10px;padding:10px; border:4px solid #c6c6f9;">
                    <h3>개설자정보</h3>
                    <h4><%=@pictures.name%></h4>
                    <span class="glyphicon glyphicon-phone"></span> 카카오톡 아이디 : <%=@pictures.kakao%> <br>
                    <span class="glyphicon glyphicon-envelope"></span> 이메일 : <%=@pictures.current%>

                       
                 </div>    
              </div>    
              <h2>질문하기</h2>
                  <div class="panel panel-default">
                    <div class="panel-heading">댓글</div>
                    
                          <% @posts.each do |p| %>
                              <% if p.num == @pictures.id %>
                              <div class="panel-heading">
                                댓글 내용<%= p.content %>
                                <%= p.num %>
                                댓글 쓴 사람<%= p.current %>
                                <% if p.current == current_model.email %>
                                <a href="/destroy_theater_re/<%=p.id%>">[삭제]</a>
                                <% end %>
                              </div>
                             <% end %>
                         <% end %>
                         
                      <form style="margin-top:40px;" action="/theater_reply" method="POST">
                          <input type="hidden" name="current" class="form-control" id="exampleInputEmail2" placeholder="홍길동" value="<%= current_model.email %>">
   
                            <input type="hidden"  name="id_of_post" value="<%=@pictures.id%>">
                            <!--<textarea class='form-control' rows="5" id="content" name="title"></textarea>-->
                              <label for="exampleInputEmail2">댓글 입력</label>
                 
                            <textarea class='form-control' rows="5" id="content" name="content"placeholder="여기에 입력하세요"></textarea>
                            <button  type="submit" class="btn btn-default reply_submit">Submit</button>
                     </form>
               
                  </div>
              
              </div>
          </div>
    </div>
        <hr>

        <!-- Pagination -->
 

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; FRUITS PUNCH_Inha Unversity</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <!--<script src="js1/jquery.js"></script>-->

    <!-- Bootstrap Core JavaScript -->
    <!--<script src="js1/bootstrap.min.js"></script>-->

     <!--Script to Activate the Carousel -->
</body>
</html>
